@import "normalize";
@import "theme";
@import "animation";

*{
	margin:0;
	box-sizing: border-box;
}
body{
	background: $bg-color;
	font-size: 0.24rem;
	min-width: 320px;
	margin: 0 auto;
}
ul{
	list-style: none;
	padding: 0;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
}

.red{
    color: $reverse;
}


.link{
	display: block;
	height: 0.48rem;
	line-height: 0.48rem;
	border-bottom: 1px solid #f6f6f6;
	color: #333;
	padding: 0 0.1rem;
	font-size: 0.16rem;

}
.loading{
	width: 100%;
	height: 6.68rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.btn{
    cursor: pointer;
    outline: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    &.small{
        width: 1.66rem;
        height: 0.62rem;
        line-height: 0.62rem;
        background: url("../images/fmd_wap_home_ic_confirm@2x.png") no-repeat;
        background-size: 100%;
        .disabled{
            background: url("../images/fmd_wap_home_ic_confirm_disable@2x.png") no-repeat;
            background-size: 100%;
        }
    }
}
















@import "animation.scss";
