/*主题*/

// 背景色
$bg-color: #fffcf3;

//主色调
$primary : #b79045;

// 主色调-淡一点
$primary-darker: darken($primary, 20%) !default;

// 反色
$reverse: #fd622f;
//警告色
$danger : #dc0010;




// 黑色 字体主要颜色
$black: #343537;

//灰色
$gray: #ccc;



//圆角
$radius  : 2px;





